<footer class="container-fluid">
  <p class="text-center">
    Copyright ©2015 Rails1010 <br>
    Design by <a href="http://sdlong.logdown.com" target=_new>sdlong&Bill</a>
  </p>
</footer>
<style type= "text/css">
	footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	clear: both;

	
}
</style>